:root {
  --primary-color: #ffffff;
  --secondary-color: #4d59a9;
  --accent-color: #6ae5e1; 
  --background-color: #20232a; 
  --text-color: #e0e0e0;
  --hover-color: white;
  --border-radius: 12px; 
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --shadow-light: 0 4px 8px rgba(0, 0, 0, 0.15); 
  --shadow-heavy: 0 6px 15px rgba(0, 0, 0, 0.25); 
}

html {
  height: 100%;
  background: linear-gradient(to right, 
    rgba(106, 229, 225, 0.6) 0%, 
    #20232a 20%, 
    #20232a 80%, 
    rgba(106, 229, 225, 0.6) 100%);
    
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh; 
  overflow-x: hidden;
  background: transparent; 
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1; 
  background: transparent; 
}

.App-sidebar {
  width: 250px;
  color: var(--text-color);
  padding: 20px;
  overflow-y: auto;
  position: fixed; /* Keeps the sidebar fixed at its position */
  top: 0; /* Align top of sidebar with top of viewport */
  left: 0; /* Align left of sidebar with left of viewport */
}

/* Ensures appropriate responsiveness */
@media (max-width: 720px) {
  .App-sidebar {
    width: 100%; /* Full width for smaller screens */
    position: relative; /* Sidebar flows with content on small screens */
    height: auto; /* Height matches content */
    padding: 10px; /* Reduced padding */
  }

  .App-content {
    margin-left: 0; /* No margin needed when sidebar is full width */
    width: 100%; /* Full width for content area */
  }
}



.Header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.Header-title {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Menu ul {
  list-style-type: none; 
  padding-left: 0; 
  margin: 0; 
}

.Menu-item {
  padding: 10px 0; 
}

.menu-link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: var(--border-radius);
  background-color: transparent; 
  font-weight: bold;
}

.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.9); 
  color: #000000; 
  transform: scale(1.05); 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
}

.App-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  
  width: calc(100% - 250px);
}

.feedContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.postCard {
  display: flex;
  justify-content: space-between;
  align-items: start; 
  background: #fff;
  color: #000;
  box-shadow: var(--shadow-light);
  padding: 20px;
  border-radius: var(--border-radius);
  margin: 15px 0;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.postDetails {
  display: flex;
  flex-direction: column;
  flex: 1; 
  padding-right: 20px; 
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the buttons to the right */
  align-items: center; /* Centers the buttons vertically */
  margin-top: 20px;
}

.dateSpan {
  color: #ffffff;
  background: linear-gradient(to right, #333639, #282b2f); /* Adding a smooth gradient */
  padding: 8px 16px;
  border-radius: 12px; /* Rounded corners for consistency */
  font-size: 0.85rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: inline-block; /* Ensures the background and padding encapsulate the text */
  margin-right: 10px; /* Right margin for spacing */
  border: 1px solid #3a3d42; /* Subtle border to match the upvotes display */
}






.postHeader {
  display: flex;
  flex-direction: column;
  align-items: start; /* Align items to the left */
  margin-top: -15px;
}

.postGame {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem; /* Larger font size for emphasis */
  font-weight: bold; /* Make the text bold for better visibility */
  color: #000000; /* Use a distinct color that matches your theme */
  padding: 5px 0; /* Add some padding for better spacing around the text */
  margin-bottom: 10px; /* Extra space below the game title */
  background-color: rgba(255, 255, 255, 0); /* Light background for better contrast */
  border-radius: 5px; /* Rounded corners for a softer look */
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 100%; /* Ensure it spans the full width of the card */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.postCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-heavy);
}

.postImage {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Ensures the image covers the designated area without distortion */
  border-radius: var(--border-radius);
  align-self: flex-start; /* Aligns the image to the top of the container */
}
.post-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: var(--background-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
}


.post-game,.post-display-time {
  color: #ffffff;
  font-size:2rem;
}

.post-title {
  font-size: 2.4rem;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.post-image {
  width: 100%; /* Ensures the image takes the full width of its container */
  max-height: 500px; /* Maximum height for the image */
  object-fit: cover; /* Covers the area of the container without distorting the aspect ratio */
  border-radius: var(--border-radius);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.post-content {
  position: relative;
  background: #2c2f33;
  font-size:1.3rem;
  color: #e0e0e0;
  padding: 15px;
  padding-top: 40px; /* Additional top padding to create space below the label */
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.post-content::before {
  content: "Additional details:";
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 0.9rem;
  color: #e0e0e0;
  font-weight: bold;
}

.post-upvotes {
  font-size: 1.1rem; 
  color: #ffffff; /* Explicit white color for clear visibility */
  background: linear-gradient(to right, #333639, #282b2f); /* Smooth gradient for visual interest */
  padding: 8px 16px; /* Comfortable padding for better readability */
  border-radius: 12px; /* Rounded corners for a consistent design */
  display: inline-block; /* Ensures the background and padding encapsulate the text */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-right: 10px; /* Space between this element and any next element */
  border: 1px solid #3a3d42; /* Subtle border to enhance visibility */
}

button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

button:hover {
  background-color: white;
  color: black;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .post-title, .post-content, .post-upvotes {
    font-size: 1rem;
  }
}


.upvoteButton {
  background-color: var(--accent-color); 
  color: var(--primary-color);
  border: none;
  padding: 6px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 10px;
}



@media (max-width: 720px) {

  
  .App {
    flex-direction: column;
  }

  .App-sidebar, .App-content {
    width: 100%;
    padding: 10px;
  }

  
}



@media (max-width: 480px) {

  
  .Header-title {
    font-size: 1.5rem;
  }

  .Logo {
    width: 40px;
  }

  .postTitle, .postContent, .postGame {
    white-space: normal;
    
  }

  .toolbar {
    flex-direction: column;
    align-items: center;
  }

  .upvoteButton {
    padding: 4px 8px;
  }
}

button, .menu-link {
  min-height: 44px;
  padding: 8px 12px;

  
}
.gamesContainer {
  width: calc(100% - 250px); /* Adjust width to account for sidebar */
  margin-left: 250px; /* Offset by the width of the sidebar */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title for Games Page */
.gamesTitle {
  color: #ffffff;
  margin-bottom: 20px;
}

.gamesList {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Sets 5 columns on large screens */
  gap: 20px;
  width: 100%;
  list-style: none;
  padding: 0;
}

/* Adjust grid for medium screens */
@media (max-width: 1200px) {
  .gamesList {
    grid-template-columns: repeat(4, 1fr); /* Adjust to 4 columns on medium screens */
  }
}

/* Adjust grid for small screens */
@media (max-width: 992px) {
  .gamesList {
    grid-template-columns: repeat(3, 1fr); /* Adjust to 3 columns on small screens */
  }
}

/* Adjust grid for extra small screens */
@media (max-width: 768px) {
  .gamesList {
    grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns on extra small screens */
  }
}

/* Adjust grid for very small screens */
@media (max-width: 480px) {
  .gamesList {
    grid-template-columns: 1fr; /* Single column layout on very small screens */
  }
}



/* Individual Game Card Styling */
.gameCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is pushed to top and bottom */
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 15px 0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gameCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.gameImage {
  width: 100%; /* Ensures all images have the same width */
  height: 200px; /* Standardizes the height of images */
  object-fit: cover; /* Ensures the image covers the designated area without distortion */
  border-radius: var(--border-radius); /* Rounds the corners of the images */
}
/* Styling for Game Image and Title */
.gameLink {
  text-decoration: none;
  color: inherit;
  flex-grow: 1; /* Allows the link content to fill the space */
  display: flex;
  flex-direction: column;
}

/* Additional Info Below Game Image */
.gameInfo {
  margin-top: 10px;
}

/* Game details section at the bottom */
.gameDetails {
  margin-top: auto; /* Pushes itself to the bottom */
  width: 100%; /* Ensures it fills the card width */
  text-align: center;
}

/* CSS for Game Title */
.gameTitle {
  text-align: center; /* Center the text horizontally */
}

/* Additional CSS for modern styling */
.gameRating, .gameReleased {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
  color: #000000; /* Light text color for better readability on light background */
  margin-top: 5px; /* Spacing for better visual separation */
  padding: 8px 16px; /* Slightly larger padding for a more pronounced oval */
  border-radius: 30px; /* Fully rounded ends to enhance the oval look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Enhanced shadow for a more 3D effect */
  font-size: 0.9em; /* Slightly smaller font size for aesthetic purposes */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.gameRating:hover, .gameReleased:hover {
  transform: scale(1.05); /* Slight enlargement on hover for interactive feedback */
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.2));
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover for depth */
}

.notAvailable{
  font-style: italic;
  color: #bbbbbb; /* Lighter text for 'N/A' to indicate less importance */
}
.aboutContainer {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  background: #20232a;
  color: #e0e0e0;
  border-radius: 12px;
  box-shadow: var(--shadow-light);
  text-align: center;
}


.aboutContainer p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.pageSizeDropdown {
  padding: 10px;
  margin: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
}
.searchInput {
  padding: 10px;
  margin: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
}


.pagination {
  display: flex;
  align-items: center; /* This ensures all items in the flex container align vertically at the center */
  justify-content: center;
  margin-top: 20px;
  padding: 10px 0; /* Adds padding above and below the pagination for better spacing */
}

.pagination button {
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: var(--border-radius);
  border: none;
  
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}


.detail-page{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.15) 100%);
  padding: 20px; /* Adds padding around the content for better spacing */
  margin-top: 20px; /* Optional: Adds spacing above the list */
  border-radius: var(--border-radius); 
}
.game-detail-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: var(--background-color); /* Dark background for the card */
  color: var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  text-align: center;
}

.game-title {
  color: transparent;  /* Ensures that the text color is transparent so the gradient shows through */
  text-align: center;
  font-weight: bold;  /* Makes the font thicker */
  text-transform: uppercase;  /* Capitalizes all letters for impact */
  margin-bottom: 20px;  /* Adds space below the title */
  padding: 10px 0;  /* Top and bottom padding */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));  /* Brighter white gradient effect */
  -webkit-background-clip: text;
  background-clip: text;
}

.game-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;  /* Ensures no part of the image spills out if it's too large */
  border-radius: 20px;
}

.game-image {
  max-width: 100%; /* Maximum width of the image is 100% of its container */
  max-height: 500px; /* Maximum height is set to prevent overly tall images */
  width: auto; /* Width is automatically adjusted to maintain aspect ratio */
  height: auto; /* Height is automatically adjusted to maintain aspect ratio */
  object-fit: contain; /* Ensures the image is scaled properly to fit within its bounds */
}

.game-info {
  background: #2c2f33; /* Slightly lighter than the main background for contrast */
  color: #e0e0e0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  line-height: 1.6;
}

.game-info strong {
  color: var(--accent-color); /* Use accent color for labels */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .game-detail-container {
    padding: 10px;
  }

  .game-title {
    font-size: 1.8rem;
  }
}




/* Adjustments for smaller screens */
@media (max-width: 720px) {
  .gamesList {
    grid-template-columns: .9fr; /* Only one column on smaller screens */
  }
}



.edit-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--background-color);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  width: 100%;
  max-width: 600px;
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.edit-form label {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.edit-form input, .edit-form textarea {
  padding: 8px;
  margin-top: 5px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--background-color);
  width: 100%; /* Make sure inputs do not exceed their container */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.edit-form button {
  padding: 10px;
  border: none;
  background-color: var(--accent-color);
  color: black;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.3s;
}

.edit-form button:hover {
  background-color: var(--hover-color);
}

h1 {
  color: var(--primary-color);
}

.createPostDate {
  margin-top: -15px;
  font-size: 10px;;
}



.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: var(--background-color);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  width: 100%;
  max-width: 600px;
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.create-form label {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.create-form input, .create-form textarea {
  padding: 8px;
  margin-top: 5px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--background-color);
  width: 100%; /* Make sure inputs do not exceed their container */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.create-form button {
  padding: 10px;
  border: none;
  background-color: var(--accent-color);
  color: black;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.3s;
}

.create-form button:hover {
  background-color: var(--hover-color);
}


.createPostDate small {
  font-size: .9rem;  
}



.comments-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: transparent; /* Example background for isolation */
  border-radius: 10px;
  overflow-x: hidden; /* Hides horizontal overflow */
  box-sizing: border-box; /* Includes padding in the width calculation */
}

.comments-comment {
  background-color: var(--primary-color); /* Ensures isolation with namespace */
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 20px;
  box-shadow: var(--shadow-light);
  color: var(--background-color);
  position: relative;
  box-sizing: border-box; /* Ensures padding does not add to the width */
}

.comments-comment::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -10px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--primary-color) transparent transparent;
  transform: translateY(-50%);
}

.comments-text {
  margin: 0;
  font-size: 1rem;
}

.comments-meta {
  font-size: 0.8rem;
  opacity: 0.7;
}

.comments-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.comments-button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comments-button:hover {
  background-color: var(--hover-color);
}

.comments-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.createButton {
  border: 2px solid var(--accent-color); /* Light blue border */
  border-radius: var(--border-radius); /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}





@media (max-width: 720px) {
  .postCard {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .postImage {
    width: 100%; /* Full width images on small screens */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Space between text and image */
  }
}



@media (max-width: 720px) {
  .postCard {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .postImage {
    width: 100%; /* Full width images on small screens */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Space between text and image */
  }

  .postDetails {
    order: 2; /* Text content goes below the image */
  }

  .postHeader {
    flex-direction: row; /* Align game and title in a row on smaller screens */
  }
}

.post-game{
  font-size:2.0rem;
}


.postDisplayTime{
  font-size:1.5rem;
}


.postContent {
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  font-size: 1rem; /* Set font size for readability */
  color: #333333; /* Dark grey color for text */
  background-color: #f0f0f0; /* Light grey background */
  padding: 30px; /* Increased top padding to accommodate label */
  padding-top: 40px; /* Additional top padding to create space below the label */
  margin: 10px 0; /* Margin for spacing above and below */
  border-radius: 8px; /* Rounded corners for aesthetics */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More apparent shadow for depth */
  line-height: 1.5; /* Line height for better readability */
  word-wrap: break-word; /* Ensure long words do not overflow */
  overflow: hidden; /* Hide overflow */
  text-align: left; /* Align text to the left */
  display: block; /* Block display to occupy full width */
}

.postContent::before {
  content: "Additional details:";
  position: absolute;
  top: 10px; /* Positioning from the top inside the box */
  left: 20px; /* Positioning from the left inside the box */
  font-size: 0.9rem; /* Slightly smaller font size than the content for differentiation */
  color: #666666; /* Slightly lighter color for the label */
  font-weight: bold; /* Bold text to make it stand out */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 720px) {
  .postContent {
    padding: 20px; /* Adjusted padding on smaller screens */
    padding-top: 30px; /* Maintain ample space below the label on smaller screens */
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}
.postMeta, .commentsMeta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0; /* No padding around the container */
  margin-right: 20px; /* Right margin for spacing between metadata elements */
}

.postMeta p, .commentsMeta p {
  background-color: #e8f4f8; /* Light blue background for upvotes */
  color: #0077b6; /* Dark blue text for contrast */
  padding: 6px 12px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners for an oval shape */
  margin: 0 10px 0 0; /* Margin to space out individual elements within the metadata */
  font-size: 1rem; /* Comfortable reading size */
  line-height: 1.5; /* Proper line spacing for readability */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition effects */
}

.commentsMeta p {
  background-color: #ffdede; /* Soft red background for comments */
  color: #cc0000; /* Darker red text for contrast */
}

/* Additional hover effects for interaction feedback */
.postMeta p:hover, .commentsMeta p:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}


.postDetails span {
  color: black; /* Using the color defined in the root */
  background: linear-gradient(to right, #d3d3d3, #efefef); /* Grey gradient background */
  padding: 4px 10px; /* Slightly smaller padding */
  border-radius: 15px; /* Smooth rounded corners for a modern pill shape */
  font-size: 0.85rem; /* Slightly smaller font size for subtlety */
  margin-top: 5px; /* Top margin for spacing */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  display: inline-block; /* Ensures the background and padding encapsulate the text */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition effects for interaction */
  cursor: default; /* Default cursor as this element is not interactive */
}

/* Hover effect to slightly enhance the shadow, aligning with meta hover styles */
.postDetails span:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Slightly enhanced shadow on hover for a subtle interaction */
}

.view-game-details-button {
  background-image: linear-gradient(to right, #a0efff, #b0b6e1); /* Lighter shades of your theme colors */
  color: #20232a; /* Dark text for better contrast on light gradient */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  display: inline-block;
  text-align: center;
  margin: 10px 0;
  transition: background-image 0.3s, color 0.3s, box-shadow 0.3s; /* Smooth transitions for background and text color changes */

  /* Shadow and hover effects */
  box-shadow: var(--shadow-light);
  cursor: pointer;
}

.view-game-details-button:hover {
  background-image: linear-gradient(to right, #e8e8ed, #a0efff); /* Inverted lighter gradient for hover effect */
  color: #20232a; /* Maintaining dark text for readability */
  box-shadow: var(--shadow-heavy);
}



.create-post-dropdown, .sortDropdown {
  width: 300px;
  padding: 10px;
  margin: 20px auto; /* Centers the dropdown and adds spacing */
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  background: white;
  color: black;
  font-size: 1rem;
  display: block; /* Ensures the dropdown is treated as a block element for centering */
}

.search-games-button {
  margin-top: 20px; /* Adds spacing above the button */
}



.create-post-container h1 {
    font-size: 2rem; /* Larger font size for header */
    color: var(--accent-color); /* Use your theme's accent color */
    margin-bottom: 10px; /* Space below the header */
}

.create-post-container p {
    font-size: 1.2rem; /* Comfortable reading size */
    color: var(--text-color); /* Standard text color */
    margin-bottom: 20px; /* Space below paragraph for separation */
}

.create-post-container ol {
    padding-left: 20px; /* Align text nicely within container */
    counter-reset: step-counter; /* Create a counter for list items */
}

.create-post-container li {
    counter-increment: step-counter; /* Increase counter for each item */
    margin-bottom: 10px; /* Space between items */
    font-size: 1rem; /* Standard font size for list items */
    line-height: 1.6; /* Adequate line spacing for readability */
    list-style-type: none; /* Remove default list styling */
    position: relative; /* Allows absolute positioning for pseudo-elements */
    padding-left: 30px; /* Space for custom numbering */
}

.create-post-container li:before {
    content: counter(step-counter) '. '; /* Display the counter before the text */
    position: absolute; /* Position it absolutely within the li */
    left: 0; /* Position it at the very left */
    font-weight: bold; /* Make the numbers bold */
    color: var(--accent-color); /* Color of the numbers */
}